<div class="navbar navbar-inverse navbar-fixed-top nav-collapse">
  <ul class="nav">
    <li class="active"><a href="home">home</a></li>
    <li><a href="untilted">untilted</a></li>
    <li><a href="links">links</a></li>
    <li><a href="about">about</a></li>
  </ul>
</div>
<div>
This is the untilted view.
I can modify it dynamically.


(Secure flow)
Generate/
	1) General Settings
	2)

Realizations/
	Explore/
		Download
	Manager/ (secure)
		Edit
		Remove

About/
	#History
	#Version history.

Help/
	#FAQ
	#Tutorial
	#Documentation
    /Developers
       #FAQ
       #Documentation
</div>
