This is the untilted view.
I can modify it dynamically.


(Secure flow)
Generate/
	1) General Settings
	2)

Realizations/
	Explore/
		Download
	Manager/ (secure)
		Edit
		Remove

About/
	#History
	#Version history.

Help/
	#FAQ
	#Tutorial
	#Documentation
    /Developers
       #FAQ
       #Documentation
</div>
